body {
  /* font-family: sans-serif;
    max-width: 750px;
    min-width: 750px;
  */
  background-color: #dfe6e9;
}

.heading {
  text-align: center;
  font-size: 2em;
  color: #131230;
  margin: 20px 0 30px;
}

.card {
  font-family: sans-serif;
  max-width: 750px;
  min-width: 750px;
  height: 280px;
  margin: 20px auto;
  border-radius: 0px;
  position: relative;
  padding: 25px 15px;
  background-color: #fff;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 250px;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.img1 {
  display: block;
  margin: 25px 20px 0 20px;
  width: 23%;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 150px;
  height: 150px;
  background-color: #000;
}

.logo {
  width: 150px;
  margin-top: 20px;
}

.name1 {
  display: block;
  margin: 7px 20px 0 0;
}

.name {
  font-size: 1.9em;
  color: #4265ac;
}

.designation {
  font-size: 20px;
  color: #131230;
  margin-top: -22px;
}

.companyName {
  font-size: 20px;
  color: #131230;
}

.userDetail {
  font-size: 20px;
  color: #131230;
  line-height: 0.4;
  margin-top: -4px;
}

.info {
  display: block;
  margin: 30px 20px 0 2px;
}

.location {
  font-size: 1em;
  color: #4e1963;
  line-height: 0;
}

.tel {
  font-size: 1em;
  color: #131230;
  line-height: 0.5;
  margin-bottom: 30px;
}

.certifications {
  margin: -10px 0px 0 0;
  height: 40px;
  width: 170px;
}

.bottom {
  border-top: 1px solid #4265ac;
  margin-top: 240px;
}

.footer {
  margin: 10px 0;
  color: #131230;
  font-size: 11px;
}
